src/ua/kiev/univ/cyb/xml/myspace.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    elementFormDefault="qualified"
    targetNamespace="http://aaa.com/Purchase"> 
    
    <xs:complexType name="authorType">
        <xs:sequence>
            <xs:element name="painter" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="poet" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        
    </xs:complexType>
    
</xs:schema>
